<h3> <%= @taqueria.taqueria_name %></h3><br>
<h3> <%= @taqueria.title %></h3><br>
<h3> <%= @taqueria.description %></h3><br>
<h3> <%= @taqueria.location %></h3><br>
<h3> <%= @taqueria.primary_img %></h3><br>
<h3> <%= @taqueria.secondary_img %></h3><br>
<h3> <%= @taqueria.region.name %></h3><br>
